/*One CSS to Rule Them All*/
* {
    margin: 0;
    padding: 0;
}

/*scroll-behavior: smooth; doesn't work in Safari or IE*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 400;
}

/*Universial Attributes for Anchor Elements*/
a {
    text-decoration: none;
    transition: .75s;
}

a:link {
    color: #398CCC
}

a:visited {
    color: #398CCC;
}

a:hover {
    color: #4A6880;
}

/*Navigation Menu*/
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #94D1FF;
    width: 100%;
    list-style: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.nav-list a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: #398CCC;
}

.nav-list a:hover {
    color: #4A6880;
    background-color: #fff;
}

/*Welcome Section*/
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #398CCC;
}

/*Projects Section*/
#projects {
    background-color: #245880;
}

#project-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.project-tile {
    padding: 1rem;
}

.project-tile:hover {
    background-color: white;
    transition: .75s;
}

.project-tile:hover figcaption {
    color: #245880;
    transition: .75s;
}

figure.project-tile > img {
    height: 8rem;
}

figcaption {
    text-align: center;
    color: #fff;
}

h1 {
    padding: 2rem;
    color: #fff;
    text-align: center;
}

/*Contact Section*/
#contact {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    flex-wrap: wrap;
}

#contact a {
    padding: 2rem;
    text-decoration: none;
}

#contact a:hover {
    color: #fff;
    background-color: #398CCC;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #4A6880;
    color: #fff;
}

/*Random @media to complete codepen tests*/
@media screen and (width: 600px) {
    body {
        background-color: red;
    }
}