:root {
    box-sizing: border-box;
}

body {
    background-color: #C9C9C5;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.home-button {
    height: 50px;
}

a:hover {
    transition: .5s;
}

a:active {
    color: grey;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

button {
    font-size: 1rem;
    border-radius: 10px;
    padding: 8px 70px;
    margin: 5px 20px 20px 20px;
    color: white;
}

#maleButton {
    background-color: #51AEFE;
}

#femaleButton {
    background-color: #FF6BE8;
}

#otherButton {
    background-color: grey;
}

#character-filter {
    text-align: center;
}

.character-buttons {
    text-align: center;
}

a > img {
    height: 18rem;
    margin: 4px;
    border-radius: 10px;
}

.gallery {
    text-align: center;
}

footer {
    text-align: center;

}