* {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	background-color: #FFDE00;
}

/* ----- Anchors ----- */
a {
    text-decoration: none;
    transition: .75s;
}

/* ----- Header ----- */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ----- Navigation Menu ----- */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #CC0000;
    width: 100%;
	list-style: none;
	z-index: 1;
	border-bottom: 1px solid #FFDE00;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 0;
}

.nav-list a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    color: #CC0000;;
    background-color: #FFDE00;
}

nav#navbar ul {
	margin-top: 0;
}

nav#navbar ul li {
	margin-bottom: 0;
}

/* ----- Headings ----- */

h1 {
	text-align: center;
	margin-top: 7rem;
	margin-bottom: 1rem;
}

h2 {
	margin-top: 1rem;
	text-decoration: underline;
}

h3 {
	margin-top: 1rem;
}

/* ----- Buttons ----- */

#pokeButtons {
	margin-bottom: 2rem;
	text-align: center;
}

#startButton {
	color: white;
	background-color: #3B4CCA;
	padding: .5rem 7rem;
	margin: 0 2rem;
	border-radius: 10px;
	border: 1px solid white;
}

#startButton:hover {
	color: #FFDE00;
	background-color: #CC0000;
	transition: .25s;
}

#newButton {
	color: white;
	background-color: #3B4CCA;
	padding: .5rem 7rem;
	margin: 0 2rem;
	border-radius: 10px;
	border: 1px solid white;
}

#newButton:hover {
	color: #FFDE00;
	background-color: #CC0000;
	transition: .25s;
}

.pokemonGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

 .scene {
	width: 200px;
	height: 260px;
	border: 1px solid #CCC;
	margin: 10px;
	perspective: 600px;
	border-radius: 30px;
 }

 .card {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	cursor: pointer;
	position: relative;
 }

 .card.is-flipped {
	transform: rotateY(180deg);
 }

 .card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	font-weight: bold;
	backface-visibility: hidden;
	border-radius: 30px;
 }

 .card__face--front {
	background: #CC0000;
 }

 .card__face--back {
	background: #36454F; /*Charcoal*/
	transform: rotateY(180deg);
 }

 img {
	height: 10rem;
	padding-top: 1rem;
 }

 p {
	padding-top: 1rem;
 }

 div ul{
	margin-top: 1rem;
	padding: 0;
	list-style-type: none;
 }

 div ul li {
	margin-bottom: 1rem;
	font-style: italic;
 }

 /* ----- Footer ----- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #3B4CCA;
	color: #fff;
	margin-top: 2rem;
}

footer p {
	padding-top: 0;
}