/* ----- Color Scheme ----- */
/*
#FFE81F - Banana Yellow
#000000 - Black
*/

* {
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Rubik', sans-serif;
}

/* ----- Anchors ----- */
a {
    text-decoration: none;
    color: #FFE81F;
}

a:hover {
    transition: .75s;
}

a:active {
    color: grey;
}

/* ----- Header ----- */
header {
    display: flex;
    justify-content: center;
}

/* ----- Navigation Menu ----- */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #FFE81F;
    width: 100%;
    list-style: none;
    z-index: 1;
    /* border-bottom: 1px solid #FFE81F; maybe come back to this later */
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 0;
}

.nav-list a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: black;
}

.nav-list a:hover {
    color: #FFE81F;
    background-color: black;
}

.nav {
    /*border: solid 2px black;*/
    padding: 1rem;
}

/* ----- Headings ----- */
h1 {
    text-align: center;
    color: #FFE81F;
    font-size: 2em;
    margin: 5px 0px 20px 0px;
    font-weight: bold;
    padding: 1rem;
}

/* ----- Main Content ----- */
main {
    padding-top: 7rem;
}

/* ----- Buttons ----- */
.home-button {
    height: 50px;
    margin-top: 15px;
}

.home-button:hover {
    border-radius: 100%;
    background-color: grey;
    transition: 2s;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

/* ----- Images ----- */
main img {
    height: 300px;
    border-radius: 10px;
}

/* ----- Footer ----- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #FFE81F;
    color: black;
}