/* ----- Color Scheme ----- */
/*
#799FCB - Dark Pastel Blue
#95B4CC - Wild Blue Yonder
#AFC7D0 - Pastel Blue
#EEF1E6 - Alabaster
#FEC9C9 - Light Red
#F9665E - Pastel Red
*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
    
body {
    background-color: #EEF1E6;
}

/* ----- Anchors ----- */
a {
    text-decoration: none;
    transition: .75s;
}

/* ----- Navigation Menu ----- */
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #F9665E;
    width: 100%;
    list-style: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 0;
}

.nav-list a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: #EEF1E6;
}

.nav-list a:hover {
    color: #F9665E;
    background-color: #EEF1E6;
}

/* ----- Headings ----- */

h1 {
    color: #F9665E;
    padding-top: 7rem;
    padding-bottom: 2rem;
    text-align: center;
}

/* ----- Buttons ----- */
div {
    text-align: center;
}

#seniorityButton {
    background-color: #FEC9C9;
    padding: .5rem 10rem;
    border-radius: 10px;
}

#seniorityButton:hover {
    background-color: #AFC7D0;
    color: white;
}

#congress-home {
    margin-left: 4rem;
    height: 3rem;
}

#congress-home:hover {
    background-color: #FF8178;
    transition: 1s;
}

/* ----- Main Content ----- */
main {
    margin: 2rem;
}

/* ----- Senators ----- */
.senatorGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.progressDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.senatorGrid div {
    margin: .5rem;
}

progress {
    margin: auto;
}

progress[value] {
    -webkit-appearance: none;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(#F9665E, #EEF1E6, #799FCB);
}

label {
    font-size: .75rem;
}

/* ----- Images ----- */

img {
    border-radius: 5px;
}

figure {
    text-align: center;
    margin: 10px;
    padding: 15px;
}

figcaption {
    display: flex;
    justify-content: space-around;
}

/* Party Icons */
i {
    padding-left: .5rem;
}

.fa-republican {
    color: red;
}

.fa-democrat {
    color: blue;
}

.fa-star {
    color: yellow;
}

/* ----- Footer ----- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #799FCB;
    color: #EEF1E6;
}